body {

    font-family: 'arial';
    background-image: url(https://wallpaperaccess.com/full/3657620.jpg);
    text-align: center;
}

.box-head {
    text-align: center;
    display: inline-block;
}

.head {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 1180px;
}

.box-options {
    display: inline-block;
    vertical-align: middle;
}

.box-logo {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    box-shadow: 0px 0px 10px rgb(33, 52, 70, 0.4);
    margin-left: 10px;
    width: 70px;
    border-radius: 100px;
    display: inline-block;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    margin-top: 7px;
    transition: 0.15s;

}

.inicio,
.juegos,
.consolas,
.contacto {
    box-shadow: 0px 0px 10px rgba(33, 52, 70, 0.4);
    font-size: 15px;
    border-color: rgb(0, 0, 0);
    color: #000;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255, 0.4);
    margin-right: 5px;
    font-weight: bold;
}

input {
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 15px;
    width: 500px;
    box-shadow: 0px 0px 10px rgb(33, 52, 70, 0.4);
}

.logo:hover,
.inicio:hover,
.juegos:hover,
.consolas:hover,
.contacto:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
    cursor: pointer;
    transition: 0.15s
}

.logo:active,
.inicio:active,
.juegos:active,
.consolas:active,
.contacto:active {
    opacity: 0.4;
}

.contacto {
    display: inline-block;
    text-align: right;
}

.head2 {
    margin-top: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    width: 1180px;
    display: inline-block;
}

.boxhead2 {
    text-align: center;
}

.box-bienvenida {
    border-color: black;
    margin-top: 20px;
    border-style: none;
    border-width: 1px;
    display: inline-block;
    transition: 0.2s;
    background-color: white;
    border-radius: 5px;
    padding-right: 345px;
    padding-left: 345px;
}

.bienvenida {
    width: 490px;
    font-size: 25px;
}

.detalles {
    font-size: 20px;
    width: 460px;
    padding-left: 10px;
    text-align: center;
}

.descripcion {
    font-size: 20px;
    color: gray;
    padding-left: 10px;
}

.ssbu,
.mk8dl,
.sms,
.sm3dal {
    width: 150px;
    object-fit: cover;
    transition: 0.2s;
}

.ssbu:hover,
.mk8dl:hover,
.sms:hover,
.sm3dal:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
}

.ssbu-box,
.mk8dl-box,
.sms-box,
.sm3dal-box {
    margin-left: 15px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.game-name {
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 0;
    width: 200px;
}

.game-price {
    margin-top: 0;
    font-size: 15px;
    color: rgb(255, 0, 0);
}

.actual-offers {
    margin-left: 10px;
    font-size: 25px;
    border-style: solid;
    border-width: 1px;
    width: 1037px;
    margin-left: 76px;
}

.discount {
    color: black;
}

.gamesbox1 {
    vertical-align: top;
    margin-top: 0;
    width: 1000px;
}